<main class="min-h-screen">
  <div class="flex flex-col h-screen py-[70px] px-[100px]">
    <div class="w-1/2 h-full grow rounded-[34px] overflow-hidden">
      <img
        src="./assets/images/signInPage.png"
        alt="sign in page art"
        class="h-full w-full object-fill"
      />
    </div>
    <div class="w-1/2">
      <div class="px-[146px]">
        <div>
          <h1>Sign in to ShortLn</h1>
          <h2>Welcome back to ShortLnk</h2>
        </div>
      </div>
    </div>
  </div>
</main>
